In [1]:
import single_head
import multi_head
import copy
import numpy as np
import matplotlib.pyplot as plt
import cv2
from scipy.ndimage.morphology import binary_fill_holes
import sys
np.set_printoptions(threshold=sys.maxsize)
from scipy.signal import detrend
from single_head import SingleHead
from multi_head import MultiHead
import matplotlib.gridspec as gridspec
%load_ext autoreload
%autoreload 2

C:\Data Science\Advanced Vision\Coursework\AV_CW\SIFT.py:3: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
# gen pickled heads
Sequence=3
mhead=MultiHead.load_from_pickle(Sequence)

Loading Sequence 3...done

In [4]:
mhead.try_methods()

mean distance: 0.017952656074874986
mean distance: 0.025532721257037372
mean distance: 0.028408155186957024
mean distance: 0.03464151945824577
mean distance: 0.012534201267069573
mean distance: 0.026539866196798594
mean distance: 0.007260347167437826
mean distance: 0.00639770014672352
mean distance: 0.0048836008551434405
mean distance: 0.0030155811010238
mean distance: 0.05865775936877682
mean distance: 0.05865775936877682

   method sift_transform_method    icp refine_range refine_local  mean_dist
0       A              coverage   True        False        False   0.017953
1       A              coverage  False        False        False   0.025533
2       A               matches   True        False        False   0.028408
3       A               matches  False        False        False   0.034642
4       A               dynamic   True        False        False   0.012534
5       A               dynamic  False        False        False   0.026540
6       C              coverage   True        False        False   0.007260
7       C              coverage  False        False        False   0.006398
8       C               matches   True        False        False   0.004884
9       C               matches  False        False        False   0.003016
10      C               dynamic   True        False        False   0.058658
11      C               dynamic  False        False        False   0.058658

In [5]:
mhead.Method_A(sift_transform_method="dynamic", icp=True, refine_range=False, refine_local=False)
mhead.show_spheres(sparcity=0.2)

2-1, Count=109, Err Matches=0.0023, Cov=88.8
3-2, Count=103, Err Matches=0.0023, Cov=88.6
4-3, Count=67, Err Matches=0.0058, Cov=87.9
5-4, Count=62, Err Matches=0.0038, Cov=89.5
6-5, Count=52, Err Matches=0.0028, Cov=76.4
7-6, Count=35, Err Matches=0.0034, Cov=76.6
8-7, Count=17, Err Matches=0.0081, Cov=66.4
9-8, Count=8, Err Matches=0.0195, Cov=35.7
10-9, Count=12, Err Matches=0.0057, Cov=63.2
11-10, Count=21, Err Matches=0.0088, Cov=72.3
12-11, Count=28, Err Matches=0.0041, Cov=73.0
13-12, Count=52, Err Matches=0.0037, Cov=77.3
14-13, Count=17, Err Matches=0.0146, Cov=65.8
15-14, Count=57, Err Matches=0.0053, Cov=85.4

In [11]:
mhead.reset_all_head_positions()
mhead.Method_A(sift_transform_method="coverage", icp=False, refine_range=False, refine_local=False)
mhead.left_eye_deviation()

2-1, Count=65, Err Matches=0.0023, Cov=97.4
3-2, Count=63, Err Matches=0.0016, Cov=97.8
4-3, Count=39, Err Matches=0.0048, Cov=95.9
5-4, Count=34, Err Matches=0.0020, Cov=97.4
6-5, Count=14, Err Matches=0.0030, Cov=93.4
7-6, Count=18, Err Matches=0.0011, Cov=84.5
8-7, Count=11, Err Matches=0.0132, Cov=93.3
9-8, Count=7, Err Matches=nan, Cov=68.6
10-9, Count=10, Err Matches=0.0038, Cov=94.3
11-10, Count=8, Err Matches=0.0026, Cov=93.3
12-11, Count=14, Err Matches=0.0032, Cov=87.9
13-12, Count=17, Err Matches=0.0057, Cov=89.7
14-13, Count=12, Err Matches=0.0177, Cov=89.7
15-14, Count=33, Err Matches=0.0113, Cov=92.7
mean coordinate: [ 0.03989497 -0.1499287  -0.00085879]. Distance to each points: [0.01942757 0.02289217 0.0187452  0.01157794 0.01394751].
mean distance: 0.01731807590048226

0.01731807590048226

In [ ]:
mhead.create_png_series(name="C")

[14, 15, 1, 2, 3, 4, 5, 6, 13, 7, 8, 9, 10, 11]

In [33]:
mhead.create_dataframe()

,Right,Left,Err,Matches,Inliers for Matches,Inliers for Coverage,Coverage
0,1.0,2.0,0.002304,150.0,49.0,74.0,0.970662
1,2.0,3.0,0.001621,174.0,83.0,58.0,0.977968
2,3.0,4.0,0.004773,106.0,32.0,41.0,0.956079
3,4.0,5.0,0.001944,81.0,32.0,26.0,0.976636
4,5.0,6.0,0.002990,52.0,17.0,22.0,0.920307
5,6.0,7.0,0.001134,50.0,22.0,16.0,0.852177
6,7.0,8.0,0.011108,25.0,7.0,10.0,0.939049
7,8.0,9.0,NaN,12.0,6.0,7.0,0.688084
8,9.0,10.0,0.003784,26.0,8.0,12.0,0.896754
9,10.0,11.0,0.002513,24.0,14.0,10.0,0.909950
10,11.0,12.0,0.003150,44.0,19.0,17.0,0.889123
11,12.0,13.0,0.005656,61.0,17.0,25.0,0.886662
12,13.0,14.0,0.018653,35.0,8.0,15.0,0.882651
13,14.0,15.0,0.010944,85.0,35.0,38.0,0.922137
14,15.0,1.0,0.002296,143.0,54.0,58.0,0.979861

In [36]:
mhead.create_df_for_report()

\begin{tabular}{lrrll}
\toprule
    Pair &  Matches &  Inliers &     Err & Coverage \\
\midrule
   2 - 1 &      150 &       49 &  0.0023 &   97.07\% \\
   3 - 2 &      174 &       83 &  0.0016 &   97.80\% \\
   4 - 3 &      106 &       32 &  0.0048 &   95.61\% \\
   5 - 4 &       81 &       32 &  0.0019 &   97.66\% \\
   6 - 5 &       52 &       17 &  0.0030 &   92.03\% \\
   7 - 6 &       50 &       22 &  0.0011 &   85.22\% \\
   8 - 7 &       25 &        7 &  0.0111 &   93.90\% \\
   9 - 8 &       12 &        6 &     nan &   68.81\% \\
  10 - 9 &       26 &        8 &  0.0038 &   89.68\% \\
 11 - 10 &       24 &       14 &  0.0025 &   90.99\% \\
 12 - 11 &       44 &       19 &  0.0032 &   88.91\% \\
 13 - 12 &       61 &       17 &  0.0057 &   88.67\% \\
 14 - 13 &       35 &        8 &  0.0187 &   88.27\% \\
 15 - 14 &       85 &       35 &  0.0109 &   92.21\% \\
  1 - 15 &      143 &       54 &  0.0023 &   97.99\% \\
\bottomrule
\end{tabular}

       Pair  Matches  Inliers     Err Coverage
0     2 - 1      150       49  0.0023   97.07%
1     3 - 2      174       83  0.0016   97.80%
2     4 - 3      106       32  0.0048   95.61%
3     5 - 4       81       32  0.0019   97.66%
4     6 - 5       52       17  0.0030   92.03%
5     7 - 6       50       22  0.0011   85.22%
6     8 - 7       25        7  0.0111   93.90%
7     9 - 8       12        6     nan   68.81%
8    10 - 9       26        8  0.0038   89.68%
9   11 - 10       24       14  0.0025   90.99%
10  12 - 11       44       19  0.0032   88.91%
11  13 - 12       61       17  0.0057   88.67%
12  14 - 13       35        8  0.0187   88.27%
13  15 - 14       85       35  0.0109   92.21%
14   1 - 15      143       54  0.0023   97.99%

In [34]:
mhead.try_methods()

mean distance: 0.018580076817046924
mean distance: 0.024621617737914818
mean distance: 0.04913128904236243
mean distance: 0.07323466210947824
mean distance: 0.015068122663049622
mean distance: 0.017105681723719377
mean distance: 0.008883385634948782
mean distance: 0.00854551937611084
mean distance: 0.004262469570801558
mean distance: 0.004515599215548199
mean distance: 0.058785141611959045
mean distance: 0.058785141611959045

   method sift_transform_method    icp refine_range refine_local  mean_dist
0       A              coverage   True        False        False   0.018580
1       A              coverage  False        False        False   0.024622
2       A               matches   True        False        False   0.049131
3       A               matches  False        False        False   0.073235
4       A               dynamic   True        False        False   0.015068
5       A               dynamic  False        False        False   0.017106
6       C              coverage   True        False        False   0.008883
7       C              coverage  False        False        False   0.008546
8       C               matches   True        False        False   0.004262
9       C               matches  False        False        False   0.004516
10      C               dynamic   True        False        False   0.058785
11      C               dynamic  False        False        False   0.058785

In [35]:
mhead.create_res_for_report()

\begin{tabular}{lllr}
\toprule
method &    method &    icp &  mean\_dist \\
\midrule
     A &  coverage &   True &   0.018580 \\
     A &  coverage &  False &   0.024622 \\
     A &   matches &   True &   0.049131 \\
     A &   matches &  False &   0.073235 \\
     A &   dynamic &   True &   0.015068 \\
     A &   dynamic &  False &   0.017106 \\
     C &  coverage &   True &   0.008883 \\
     C &  coverage &  False &   0.008546 \\
     C &   matches &   True &   0.004262 \\
     C &   matches &  False &   0.004516 \\
     C &   dynamic &   True &   0.058785 \\
     C &   dynamic &  False &   0.058785 \\
\bottomrule
\end{tabular}

   method    method    icp  mean_dist
0       A  coverage   True   0.018580
1       A  coverage  False   0.024622
2       A   matches   True   0.049131
3       A   matches  False   0.073235
4       A   dynamic   True   0.015068
5       A   dynamic  False   0.017106
6       C  coverage   True   0.008883
7       C  coverage  False   0.008546
8       C   matches   True   0.004262
9       C   matches  False   0.004516
10      C   dynamic   True   0.058785
11      C   dynamic  False   0.058785